<body class="flex-col-gap">
    <div class="main-container">
        <h1>Domestic Water Purifier</h1>
        <p>Home > Our Products > Domestic Water Purifier</p>
    </div> 
    <div class="container">
        <div class="grid-4">
            <div class="product-card flex col-gap" *ngFor="let item of products">
                <div class="product-image-container">
                    <img src="assets/product-1.svg" alt="">
                </div>
                <div class="flexcolumn-spacebtwn">
                    <h6 >{{item.name}}</h6>
                    <p class="paracol-para-heading">₹14999</p>
                </div>
            </div>
        </div>
    </div>
</body>
