<footer>
    <div class="footer-container">
        <div class="flex-col-gap">
            <h6 class="white-sub-heading">About</h6>
            <p class="white-main-para"><span class="white-heading">Cygnus Aqua Technologies,</span> we specialize in providing innovative and reliable water purification and treatment solutions. Established in 2020,</p>
            <div class="d-flex g-3">
                <img src="assets/facebook-logo.svg" alt="">
                <img src="assets/youtube-logo.svg" alt="">
                <img src="assets/instagram-logo.svg" alt="">
                <img src="assets/linkedin-logo.svg" alt="">
            </div>
        </div>
    </div>
    <div class="container flexrow-spacebtwn flex-wrap">
        <h6 class="fourth-primaryheading">Copyright &copy; 2025 Cygnus Aqua Technologies</h6>
        <h6 class="fourth-primaryheading">Powered By Cygnus Aqua Technologies</h6>

    </div>
   
</footer>