@use 'sass:map';
$primary-color: #123B89;
$third-color:#0A9CE0;
$light-white:#F5F5F5;
$black-color:#000000;
$blue-color:#6EC1E4;
$light-blue-color:#B0CEE6;
$secondary-color:#3A416F;
$highlight-color:#F5821F;
$border-color:#e2e8f0;
$para-color:#4B5563;
$secondary-para:#6b7280;
$primary-shadow-color:#0000001A;
$white-color:#ffffff;
$hundred-percent:100%;
$fifty-percent:50%;
$breakpoints: (
"xs": "0px",
"sm": "480px",
"md": "768px",
"lg": "980px",
"xl": "1200px"
);

@mixin responsive($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (max-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} not found in map.";
  }
}

@mixin displayflex($direction,$alignitems,$gap){
    display: flex;
    flex-direction: $direction;
    align-items: $alignitems;
    gap:$gap;
}

@mixin displaygrid($columns,$gap){
    display: grid;
    grid-template-columns: $columns;
    grid-gap:$gap ;
}

@mixin grid($min,$gap){
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min($min, 100%), 1fr));
  gap: $gap;
}

@mixin text($size,$weight,$color){
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin button($bgcr,$cr,$p,$br,$brr){
    background-color: $bgcr ;
    color: $cr;
    padding: $p;
    border: $br;
    border-radius: $brr;
}

@mixin card($color,$br,$brr,$pd){
  background-color: $color;
  border:$br;
  border-radius: $brr;
  padding: $pd;
}
