@use 'partial-scss/variables' as *;

* {
  padding: 0;
  margin: 0;
  font-family: Poppins,system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}




body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.card {
  @include card($white-color, 1px solid $border-color, 12px, 1rem);
  box-shadow: 0px 1px 2px 0px $primary-shadow-color;
}
.light-blue-card{
  @include card($light-blue-color, 1px solid $border-color, 12px, 1rem);
  box-shadow: 0px 1px 2px 0px $primary-shadow-color;
  height: 300px;
  img{
    max-width: $hundred-percent;
  }
}
.product-card{
  @include card($light-white, 1px solid $border-color, 4px, 0.5rem);
  box-shadow: 0px 1px 2px 0px $primary-shadow-color;
  height: 380px;
  @extend .flex-col-gap;
  .product-image-container{
    background-color: hsla(219, 77%, 30%, 0.07);
    height: 280px;
    padding: 2rem;
    border-radius: 4px;
    @extend .flex-col-center;
    img{
      max-width: $hundred-percent;
    }
  }
  .flexcolumn-spacebtwn{
    text-align: center;
    h6{
      @extend .black-para-heading;
      white-space:wrap;
    }
    button{
      @extend .primary-button;
    }
  }
}

.w-10{
  width: 10%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}
.w-90{
  width: 90%;
}
.w-100 {
  width: 100%;
}

.h-400 {
  height: 400px;
}

button {
  z-index: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.logo {
  height: 50px;
}

a {
  text-decoration: none;
}

.flexrow-center {
  @include displayflex(row, center, 1rem);
}

.flexrow-start {
  @include displayflex(row, center, 1rem);
  justify-content: start;
}

.flex-center {
  @include displayflex(row, center, 1rem);
  justify-content: center;
}

.flexrow-spacebtwn {
  @include displayflex(row, center, 1rem);
  justify-content: space-between;
}

.flexcolumnjstcn-center {
  @include displayflex(column, start, 1rem);
  justify-content: center;
}

.flex-col-gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-col-center {
  @include displayflex(column, center, 1rem);
  justify-content: center;
}


.flexcolumn-spacebtwn {
  @include displayflex(column, center, 1rem);
  justify-content: space-between;
}

.primary-heading {
  @include text(2rem, 600, $primary-color);
}

.secondary-primaryheading {
  @include text(1.875rem, 600, $primary-color);

}

.third-primaryheading {
  @include text(1.25rem, 500, $primary-color);

}
.thirdcol-secondary-heading {
  @include text(1.5rem, 500,$third-color);

}

.thirdcol-small-heading{
  @include text(1.125rem,500,$third-color)
}
.thirdcol-para-heading{
  @include text(1rem,500,$third-color)
}

.fourth-primaryheading {
  @include text(1.125rem, 500, $primary-color);
}

.fifth-primaryheading {
  @include text(1rem, 500, $primary-color)
}

.primary-small-heading {
  @include text(0.85rem, 500, $primary-color);
}

.primary-para {
  @include text(1rem, 400, $primary-color);
}

.primary-small-para {
  @include text(0.875rem, 500, $primary-color);
}

.black-sub-heading {
  @include text(1.5rem, 600, $black-color);
}
.secondary-heading {
  @include text(2rem, 600, $secondary-color);
}

.secondary-sub-heading {
  @include text(1.5rem, 600, $secondary-color);
}
.secondary-black-heading {
  @include text(1.875rem, 500, $black-color);
}

.third-black-heading {
  @include text(1.25rem, 500, $black-color);

}

.black-small-heading {
  @include text(1.125rem, 500, $black-color);
}

.black-para {
  @include text(1rem, 400, $black-color);
}

.black-para-heading {
  @include text(1rem, 500, $black-color);
}

.black-small-bold {
  @include text(0.875rem, 500, $black-color);
}

.black-small-para {
  @include text(0.875rem, 400, $black-color);
}

.black-mini-para {
  @include text(0.75rem, 400, $black-color);
}

.black-mini-heading {
  @include text(0.75rem, 500, $black-color);
}

.primary-circle {
  background-color: $primary-color;
  border-radius: $hundred-percent;
  height: 1rem;
  width: 1rem;
}

.border-left-para {
  border-left: 1px solid $para-color;
}



.paracol-para-heading {
  @include text(1rem, 500, $para-color)
}

.paracol-primary {
  @include text(1rem, 400, $para-color)
}

.paracol-mini-para {
  @include text(0.75rem, 500, $para-color)
}

.paracol-small-para {
  @include text(0.875rem, 400, $para-color)
}

.secondary-para-sub-heading {
  @include text(1.125rem, 500, $secondary-para)
}

.secondary-para {
  @include text(1rem, 400, $secondary-para)
}
.secondary-small-para {
  @include text(0.875rem, 400, $secondary-para)
}

.highlight-para {
  @include text(1rem, 400, $highlight-color);
}

.white-subheading {
  @include text(1.75rem, 700, $white-color);
}

.white-main-heading {
  @include text(2rem, 500, $white-color);
}
.white-sub-heading{
  @include text(1.5rem, 500, $white-color);
}
.white-heading {
  @include text(1.175rem, 500, $white-color);
}

.white-main-para {
  @include text(1rem, 400, $white-color);
}

.white-small-heading {
  @include text(0.875rem, 500, $white-color);
}
.white-small-para {
  @include text(0.875rem, 400, $white-color);
}
.white-mini-para {
  @include text(0.775rem, 400, $white-color);
}

.white-main-bold-para {
  @include text(1rem, 600, $white-color);
}

.yellow-para {
  @include text(1rem, 400, $color-yellow);
}

.gold-para {
  @include text(1rem, 400, $gold-color);
}

.nowrap {
  white-space: nowrap;
}

.wrap {
  white-space: wrap;
}
p{
  white-space: wrap !important;
}

mat-form-field{
  input,textarea{
    padding: 0.25rem 1rem !important;
    border-radius: 8px !important;
  }
  
}

.flex-wrap {
display: flex;
flex-wrap: wrap;

}

button {
white-space: nowrap !important;
}

.secondary-paracolor-heading {
@include text (1rem, 600, $para-color);
}


.primary-button {
  background-color: $primary-color !important;
  color: $white-color !important;
  padding: 0.5rem 1.5rem !important;
  border-radius: 0.5rem !important;
  border: 1px solid $primary-color !important;
  &:hover {
  background-color: $white-color !important;
  color: $primary-color !important;
 
  }
}

.primary-border-button {
  background-color: $white-color !important;
  color: $primary-color !important;
  padding: 0.5rem 1.5rem !important;
  border: 1px solid $primary-color !important;
  border-radius: 0.5rem !important;

  &:hover {
  background-color: $primary-color !important;
  color: $white-color !important;
  }

}

.highlight-button {
  background-color: $highlight-color !important;
  color: $white-color !important;
  padding: 0.5rem 1.5rem !important;
  border-radius: 0.5rem !important;
  border: 1px solid $highlight-color !important;
  &:hover {
  background-color: $white-color !important;
  color: $highlight-color !important;
  }
  &:focus{
    background-color: $white-color !important;
    
  }
}

.highlight-border-button {
  background-color: $white-color !important;
  color:$highlight-color!important;
  padding: 0.5rem 1.5rem !important;
  border: 1px solid $highlight-color !important;
  border-radius: 0.5rem !important;
  &:hover {
  background-color: $highlight-color !important;
  color: $white-color !important;
  }

}


.secondary-button {
  background-color: $secondary-button-color !important;
  color: $white-color !important;
  padding: 0.5rem 1.5rem !important;
  border-radius: 0.5rem !important;
  border: 1px solid $secondary-button-color !important;
  &:hover {
    background-color: $white-color !important;
    color: $secondary-button-color !important;
  }
}


.d-flex {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.g-0 {
  gap: 0px !important;
}

.g-1 {
  gap: 0.25rem !important;
}

/* 4px */
.g-2 {
  gap: 0.5rem !important;
}

/* 8px */
.g-3 {
  gap: 1rem !important;
}

/* 16px */
.g-4 {
  gap: 1.5rem !important;
}

/* 24px */
.g-5 {
  gap: 2rem !important;
}

.g-7 {
  gap: 3rem !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 2rem !important;
}

.mx-1 {
  margin: 0.25rem 0 !important;
}

.me-3 {
  margin-right: 1rem !important
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.px-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.px-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.px-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.py-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.py-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}
.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-5 {
  padding-top: 2rem !important;
}

.pb-5 {
  padding-bottom: 2rem !important;
}

.pb-6 {
  padding-bottom: 3rem !important;
}

.ps-1 {
  padding-left: 0.25rem !important;
}

.ps-2 {
  padding-left: 0.5rem !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

.pe-1 {
  padding-right: 0.25rem !important;
}

.pe-2 {
  padding-right: 0.5rem !important;
}

.pe-3 {
  padding-right: 1rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pt-5 {
  padding-top: 2rem !important;
}

.pb-5 {
  padding-bottom: 2rem !important;
}

.pb-6 {
  padding-bottom: 3rem !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.list-style-none {
  list-style: none;
}


.text-center {
  text-align: center !important;
}


.fs-1 {
  font-size: 2.5rem !important;
}

.fs-2 {
  font-size: 2rem !important;
}

.fs-3 {
  font-size: 1.75rem !important;
}

.fs-4 {
  font-size: 1.5rem !important;
}

.fs-5 {
  font-size: 1.25rem !important;
}

.fs-6 {
  font-size: 1rem !important;
}

.fs-7 {
  font-size: 0.875rem !important;
}

.fs-8 {
  font-size: 0.75rem !important;
}

.br-1 {
  border-radius: 5px;
}

.br-50 {
  border-radius: $fifty-percent ;
}

.br-2 {
  border-radius: 8px;
}

.br-3 {
  border-radius: 1rem;
}



html,
body {
  height: 100%;
}


.fw-bold {
  font-weight: 700 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-400 {
  font-weight: 400 !important;
}


.back-container {
  padding: 0.5rem;
  border-radius: 8px;
  color: $primary-color;
  display: flex;
  align-items: center;
  max-width: 150px;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 1rem;

    mat-icon {
      font-size: 1rem;
      font-weight: 500;
    }

    p {
      font-size: 1rem;
      font-weight: 500;
    }

    &:hover {
      background-color: $primary-color;
      color: $white-color;
    }
  }

  mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
  padding: 2rem ;
}

.main-container{
  background-image: url('assets/main-bg.svg');
  min-height: 30vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  text-align: center;
  @extend .flex-col-center;
  h1{
    @include text(2.5rem,600,$white-color);
   }
   p{
    @include text(1.5rem,400,$white-color)
   }
}

.grid-2 {
  @include grid(30rem, 1rem);
}

.grid-3 {
  @include grid(25rem, 1rem);

}

.grid-4 {
  @include grid(15rem, 1rem);
}

.grid-3-1{
  @include displaygrid((3fr 1.5fr),1rem);
}

@include responsive(lg){
  .grid-3-1{
  @include displaygrid(repeat(1,1fr),1rem);
  }
}
@include responsive(md){
  .container{
    padding: 1rem;
  }
  
}